
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid #ddd;
}

.site-header h1 {
  margin: 0;
  font-size: 36px;
  color: rgb(12, 29, 218);
  background-color: #f6f6ed;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  flex-grow: 1;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}



h2{
    color: rgb(18, 17, 22);
    font-size: medium;
}
.h3 {
    color: rgb(18, 17, 22);
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
}
.h3+p {
    color: rgb(18, 17, 22);
    padding: 2px;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
}
.contacts{
    background-color: rgb(233, 234, 231);
    color: rgb(18, 17, 22);
    font-size: medium;
    padding: 1%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    background-color: white;
    color: rgb(57, 15, 185);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
    text-align: center;
    margin-top: 20px;
}

.body{
    background-color: hsl(45, 100%, 57%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
}
.description{
    background-color: rgb(233, 234, 231);
    color: rgb(18, 17, 22);
    font-size: medium;
    padding: 1%;
    text-align: center;
}

.button-container {
    text-align: end;
    padding: 1%;
}

.button-container button {
    background-color: rgb(57, 7, 204);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgb(35, 5, 150);
}

.form label {
    margin: 10px;
    padding: 10px;}

.menu li {
    margin: 10px;
    font-size: 18px;
    color: rgb(18, 17, 22);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body a{
    background-color: rgb(57, 15, 185);
}


.gallery-item{
    padding: 10px;
    margin: 20px;
  border: 1px solid rgb(57, 15, 185);
    border-radius: 5px;

    color: rgb(18, 17, 22);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
  .square {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
/* Кольори для кожного квадрата */
#cheese {
    background-color: #f39c12; 
    display: inline-block;
}

#yogurt {
    background-color: #8e44ad; 
    display: inline-block;
}

#milk {
    background-color: #3498db;    
    display: inline-block;
}
#cookies{
    background-color: #e74c3c;
    display: inline-block;
}
#chocolate{
    background-color: #6b3304; 
    display: inline-block;
}
#candy
{
    background-color: #f1c40f; 
    display: inline-block;
}
#chips{
    background-color: #2ecc71; 
    display: inline-block;
}